/Saved/
/Intermediate/
/Build/
/DerivedDataCache/

Binaries/*
!Binaries/Win64/
*Binaries/Win64/*
!Binaries/Win64/UE4Editor-Tron.dll
!Binaries/Win64/UE4Editor.modules

/.vs/
*.db
*.opendb
*.sdf
*.opensdf
*.sln
*.suo
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.ipch
*.db_shm
*.pdb
*DebugGame.dll
*DebugGame.target
*DebugGame.modules